@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Login to</h2>    
    <p>@Html.ActionLink("Gmail Account", "Login")</p>
    <small>if you have already logged in before, it will redirect to Calendar Page.</small>
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>
